---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=150000&currency=USD&metadata[registration.data]=%7B%22firstName%22%3A%22Kevin%22%2C%22lastName%22%3A%22Mircovich%22%2C%22email%22%3A%22kevin%40ncmamonmouth.org%22%2C%22title%22%3A%22Software+Engineer%22%2C%22company%22%3A%22NCMA+Monmouth%22%7D&metadata[ticket_class_id]=1&metadata[First+Name]=Kevin&metadata[Last+Name]=Mircovich&metadata[Email]=kevin%40ncmamonmouth.org&receipt_email=kevin%40ncmamonmouth.org&statement_descriptor=NCMA+Events&statement_descriptor_suffix=NCMA+Monmouth
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "<PAYMENT_INTENT_ID>",
          "object": "payment_intent",
          "amount": 150000,
          "amount_capturable": 0,
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "charges": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges?payment_intent=<PAYMENT_INTENT_ID>"
          },
          "client_secret": "<PAYMENT_INTENT_CLIENT_SECRET>",
          "confirmation_method": "automatic",
          "created": 1588371511,
          "currency": "usd",
          "customer": null,
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "livemode": false,
          "metadata": {
            "registration.data": "{\"firstName\":\"Kevin\",\"lastName\":\"Mircovich\",\"email\":\"kevin@ncmamonmouth.org\",\"title\":\"Software Engineer\",\"company\":\"NCMA Monmouth\"}",
            "ticket_class_id": "1",
            "First Name": "Kevin",
            "Last Name": "Mircovich",
            "Email": "kevin@ncmamonmouth.org"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "receipt_email": "kevin@ncmamonmouth.org",
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": "NCMA Events",
          "statement_descriptor_suffix": "NCMA Monmouth",
          "status": "requires_payment_method",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Fri, 01 May 2020 22:18:31 GMT
recorded_with: VCR 5.1.0
